#dashboard{
background-color: #f5f5f5;
width:100%;
font-family: 'Roboto Condensed', sans-serif;
#bg{
    width:100%;
    margin-top:0%;
    
}
#bgimg{
width:100%;
}
#div2{
    height: 100vh;
    background-color: rgb(214, 214, 214);
    
    padding:5%;
    #forgot{
        width:70%;
        vertical-align: middle;
        margin-top: auto;
        margin-right: auto;
        border-radius: 20px;;
    }

    #h5{
        margin-top:5%;
        color:rgb(121, 121, 121);
        font-size: 2.5em;
        vertical-align: middle;
    }
}




#div4{
    margin-top:0%;
    background-color: black;
    height:100vh;
    padding:5%;


    #h1{
color:white;
margin-top:15%;
font-size:4em;
    }
    #lock{
        width:100%;
    }
}

    #div1{
        border:1px solid grey;
        border-radius:10px;
        padding:2%;
        width:70%;
        margin-left:10%;
        vertical-align: middle;
        background-color:rgb(218, 218, 218);
        
 text-align: left;
 margin:1%;
        
    
        
        h1{
            font-size:2em;
            color:rgb(151, 148, 148);

        }
        h5{
            font-size:1.6em;
            color:grey;

        }
        li{
            text-align: left;
            font-size: 1.6em;;
            color:rgb(88, 88, 88);
        }
    }

    #container2{
        margin-top:5%;
        margin-bottom:5%;
        h1{
            color:black;
        }
    
    }

#social{
    width:80%;
    margin-left:10%;
    margin-right:10%;
    margin-bottom: 10%;;
    border:1px solid grey;
border-radius:25px;

    #socialimg{
        width:100%;
        border-radius: 25px;;
    }
}
#social:hover{
    box-shadow:10px 10px 10px gray;
}




#div3{
    width:100%;
background-image: url('./bg1.jpg');
height:100vh;
padding:5%;


h1{
    color:white;
    text-align:left;
    font-size:4em;
    background:transparent;
    font-family: 'Roboto Condensed', sans-serif;

    
}

}




@media screen and (max-width:576px) {

    #div1{
        margin-bottom:2%;
        width:90%;
   background-color: rgb(199, 199, 199);
        li{
            color:white;
        }
    }
    
    #div3{
        margin:0px;
        h1{
            color:white;
            text-align:left;
            font-size:2.1em;

margin-top:5%;            background:transparent;
            font-family: 'Roboto Condensed', sans-serif;
        
            
        }
        
        }
#container2{
    width:100%;
        #h12{
            font-size:2em;
        }

        #bg{
            width:80%;
            margin-top:5%;
            
        }
    #bgimg{
        width:100%;
    }
    }


    #div2{
        height: 70vh;
        background-color: rgb(190, 190, 190);
        
        padding:5%;
        #forgot{
            width:70%;
            vertical-align: middle;
            margin-top: auto;
            margin-right: auto;
            border-radius: 20px;;
        }
    
        #h5{
            margin-top:5%;
            color:rgb(114, 114, 114);
            font-size: 1em;
            vertical-align: middle;
        }
    }

    #div4{
        padding-top:10%;
        #h1{
            font-size:2em;
        }

        #lock{
            width:100%;
        }
    }


    }




}









@media screen and (max-width:576px) {
  
    #div2{
        height: 100vh;
        background-color: rgb(190, 190, 190);
        background-color: black;
        padding:1%;
        width:100%;
        #forgot{
            width:70%;
            vertical-align: middle;
            margin-top: auto;
            margin-right: auto;
            border-radius: 20px;;
        }
    
        #h5{
            margin-top:5%;
            color:white;
            font-size: 1em;
            vertical-align: middle;
        }
    }

    
    #div3{
        
        h1{
            color:white;
            text-align:left;
            font-size:2.1em;

margin-top:5%;            background:transparent;
            font-family: 'Roboto Condensed', sans-serif;
        
            
        }
        #div{
            width:100%;
        }
        
     
        }

        #h12{
            font-size:1.8em;
        }


        
    #div1{
        margin-bottom:2%;
        border:1px solid grey;
        padding:2%;
        width:80%;
        margin-left:1%;
        vertical-align: middle;
        background-color:rgb(173, 172, 172);
        color:white;
        
 text-align: left;

 #h1,#h5 {
     font-size:1.3em;
 }
 #ul>li{
     font-size: 1.2em;;
 }
       
 
    }




        




}






body{

font-family: 'Roboto', sans-serif;
animation: entry;
animation-duration: 1s;
}

@keyframes entry {
    from{
        opacity:0
    }
    to{
opacity: 1;
    }
}