#loader{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: black;
    height:100vh;
    width:100vw;
    img{
        margin-top:auto;
        vertical-align: middle;
        margin-bottom: auto;
    }

    #typed{
        font-size: 3em;
        color:white;
    }


    @media screen and (max-width:576px) {
     
    img{
        margin-top:auto;
        vertical-align: middle;
        margin-bottom: auto;
        width:50%;
    }
   
    #typed{
        font-size: 1.5em;
        color:white;
    }


    }
    
}