@charset "UTF-8";
#review {
  @import url("https://fonts.googleapis.com/css?family=Raleway:400,500,700");
  @import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
  /* ====================== Review Form ====================== */
  /* 
  input,
  label {
    display: block;
    width: 100%;
  }

  label {
    font-weight: bold;
    margin-bottom: 5px;
  } */
  /* Modified from: https://codepen.io/tammykimkim/pen/yegZRw */
  /* #star1:focus{

  } */
  /*PEN STYLES*/
}
#review .review_section {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif !important;
  width: 80vw;
  margin: 0 auto;
  background-color: #f5f5f5;
  padding: 2%;
}
#review .review_section *,
#review .review_section *::before,
#review .review_section *::after {
  box-sizing: inherit;
}
#review .review_section *:focus, #review .review_section *:active {
  outline: 0 !important;
}
#review .review_section * {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
#review .review_section body, #review .review_section td, #review .review_section th, #review .review_section p {
  color: #333;
  font-family: "Raleway", sans-serif;
}
#review .review_section body {
  background-color: #f5f5f5;
  margin: 0;
  position: relative;
}
#review .review_section h2 {
  display: inline-block;
}
#review .review_section #review-add-btn {
  padding: 0;
  font-size: 1.6em;
  cursor: pointer;
}
#review .review_section #modal {
  /* position: absolute;
  left: 10vh;
  top: 10vh; */
  /* fix exactly center: https://css-tricks.com/considerations-styling-modal/ */
  /* begin css tricks */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* end css tricks */
  /* z-index: -10; */
  z-index: 3;
  display: flex;
  flex-direction: column;
  /* width: 80vw; */
  /* height: 80vh; */
  border: 1px solid #666;
  border-radius: 10px;
  opacity: 0;
  transition: all 0.3s;
  overflow: hidden;
  background-color: #eee;
  /* visibility: hidden; */
  display: none;
}
#review .review_section #modal.show {
  /* visibility: visible;   */
  opacity: 1;
  /* z-index: 10; */
  display: flex;
}
#review .review_section .modal-overlay {
  width: 100%;
  height: 100%;
  z-index: 2;
  /* places the modalOverlay between the main page and the modal dialog */
  background-color: #000;
  opacity: 0;
  transition: all 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  margin: 0;
  padding: 0;
}
#review .review_section .modal-overlay.show {
  display: block;
  opacity: 0.5;
}
#review .review_section #modal .close-btn {
  align-self: flex-end;
  font-size: 1.4em;
  margin: 8px 8px 0;
  padding: 0 8px;
  cursor: pointer;
}
#review .review_section form {
  width: 70vw;
  padding: 0 20px 20px 20px;
}
#review .review_section input,
#review .review_section select, #review .review_section .rate, #review .review_section textarea, #review .review_section button {
  background: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  box-shadow: inset 0 1px 1px #e1e1e1;
  font-size: 16px;
  padding: 8px;
}
#review .review_section input[type=radio] {
  box-shadow: none;
  outline: 0 !important;
}
#review .review_section button {
  min-width: 48px;
  min-height: 48px;
}
#review .review_section button:hover {
  border: 1px solid #ccc;
  background-color: #fff;
}
#review .review_section button#review-add-btn,
#review .review_section button.close-btn,
#review .review_section button#submit-review-btn {
  min-height: 40px;
}
#review .review_section button#submit-review-btn {
  font-weight: bold;
  cursor: pointer;
  padding: 0 16px;
}
#review .review_section .fieldset {
  margin-top: 20px;
}
#review .review_section .right {
  align-self: flex-end;
}
#review .review_section #review-form-container {
  width: 100%;
  /* background-color: #eee; */
  padding: 0 20px 26px;
  color: #333;
  overflow-y: auto;
}
#review .review_section #review-form-container h2 {
  margin: 0 0 0 6px;
}
#review .review_section #review-form {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}
#review .review_section #review-form label, #review .review_section #review-form input {
  display: block;
  /* width: 100%; */
}
#review .review_section #review-form label {
  font-weight: bold;
  margin-bottom: 5px;
}
#review .review_section #review-form .rate label, #review .review_section #review-form .rate input,
#review .review_section #review-form .rate1 label, #review .review_section #review-form .rate1 input {
  display: inline-block;
}
#review .review_section .rate {
  /* float: left; */
  /* display: inline-block; */
  height: 36px;
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: flex-end;
}
#review .review_section #review-form .rate > label {
  margin-bottom: 0;
  margin-top: -5px;
  height: 30px;
}
#review .review_section .rate:not(:checked) > input {
  /* position: absolute; */
  top: -9999px;
  margin-left: -24px;
  width: 20px;
  padding-right: 14px;
  z-index: -10;
}
#review .review_section .rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
#review .review_section .rate2 {
  float: none;
}
#review .review_section .rate:not(:checked) > label::before {
  content: "★ ";
  position: relative;
  top: -10px;
  left: 2px;
}
#review .review_section .rate > input:checked ~ label {
  color: #ffc700;
  /* outline: -webkit-focus-ring-color auto 5px; */
}
#review .review_section .rate > input:checked:focus + label, #review .review_section .rate > input:focus + label {
  outline: -webkit-focus-ring-color auto 5px;
}
#review .review_section .rate:not(:checked) > label:hover,
#review .review_section .rate:not(:checked) > label:hover ~ label {
  color: #deb217;
  /* outline: -webkit-focus-ring-color auto 5px; */
}
#review .rate > input:checked + label:hover,
#review .rate > input:checked + label:hover ~ label,
#review .rate > input:checked ~ label:hover,
#review .rate > input:checked ~ label:hover ~ label,
#review .rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
#review .review_section #submit-review {
  align-self: flex-end;
}
#review .review_section input, #review .review_section textarea {
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}
#review .review_section * {
  box-sizing: border-box;
}
#review .review_section {
  background: #f1f1f1;
}
#review .blog-card {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: "Raleway", sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}
#review .blog-card a {
  color: inherit;
}
#review .blog-card .meta {
  position: relative;
  z-index: 0;
  height: 180px;
}
#review .blog-card .photo {
  height: 200px;
  width: 200px;
  margin: 0;
}
#review .blog-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}
#review .blog-card .description h1, #review .blog-card .description h2 {
  font-family: "Raleway", sans-serif;
}
#review .blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
#review .blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}
#review .blog-card p:first-of-type {
  margin-top: 1.25rem;
}
#review .blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #5ad67d;
  width: 35px;
  margin-top: -1rem;
  border-radius: 3px;
}
@media (min-width: 640px) {
  #review .blog-card {
    flex-direction: row;
    max-width: 700px;
  }
  #review .blog-card .meta {
    flex-basis: 0%;
    height: 200px;
  }
  #review .blog-card .description {
    flex-basis: 95%;
  }
  #review .blog-card .description:before {
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  #review .blog-card.alt {
    flex-direction: row-reverse;
  }
  #review .blog-card.alt .details {
    padding-left: 25px;
  }
}
#review .blog-card {
  margin-bottom: 5%;
  margin-top: 5%;
}
#review .checked {
  color: orange;
}
#review .photo {
  margin: 3%;
}
#review .blog-card:hover {
  box-shadow: 10px 10px 10px grey;
}/*# sourceMappingURL=review.css.map */